/* body {
  margin: 0px;
  background: center/100% url("../public/img//fondo.jpg") no-repeat fixed;
  background-repeat: repeat-y; 

}*/
@media only screen and (max-width: 1500px) and (min-width: 1050px) {
  .container {
    margin: 0px;
  }
}
@media only screen and (max-width: 1050px){.container {
  display: none;
}.col-7{width: 50%;}}
.twitter,
.facebook,
.instagram,
.whatsapp {
  width: 30px;
 color: white;
}
svg:hover
 {
  color: #50c2ec;
 }
li {
    list-style: none;
}
.escudo {
    max-width: 120px;
    border: 2px solid black;
    margin-top: 10px;
    box-shadow: -2px 2px 18px 5px rgba(250,247,250,0.73);
  }

  .racing{
    font-family: 'Graduate', cursive;
    font-weight: bolder;
    font-size: 40px;
  }
  .voley{
    font-family: 'Graduate', cursive;
    font-weight: bolder;
    font-size: 25px;
  }
 
  .nav-link ::before {
    content: '';
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }
  .nav-link :hover::before {
    transform: scaleX(0.5);
  }
  .nav-link [data-animation="center"] ::before {
    transform-origin: center;
  }
  .nav-link {
    position: relative;
    
    padding: 5px;
  }


  ul {
    list-style: none;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    font-family: 'Electrolize', sans-serif;
  
  }
  
  
  .menu {
    display: flex;
    justify-content: center;
  }
  
  .menu li {
    margin-right: 70px;
  }
  
  .menu a {
    position: relative;
    display: block;
   
  }
  
  .menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #26B3E8, #ffffff, #26B3E8);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }
  
  .menu a:hover::before {
    transform: scaleX(1);
  }
  
  
  /* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  
  .menu[data-animation="center"] a::before {
    transform-origin: center;
  }



  .map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
    .map {
      background-color: rgba(0, 0, 0, 0.829);
      font-family: 'Electrolize', sans-serif;
      font-weight: bolder;
      font-size: 20px;
      color: rgb(255, 255, 255);
    }
    .header {
      color: #36A0FF;
      font-size: 27px;
      padding: 10px;
  }
  .texto{
    background-color: rgba(6, 175, 175, 0.856);
  }
  .bigicon {
      font-size: 35px;
      color: #36A0FF;
  }
  .contacto {
    background-color: rgba(0, 0, 0, 0.829);
    font-family: 'Electrolize', sans-serif;
  font-weight: bolder;
  
  color: rgb(255, 255, 255);
  }
  .card-title {
    font-size: 30px;
    font-family: 'Graduate', cursive;
  }
 .prueba {
   background-color: rgba(238, 130, 238, 0);
 }

 .btn{
  background-color: rgba(6, 175, 175, 0.96);
  color: rgb(255, 255, 255);
  font-family: 'Electrolize', sans-serif;
 }
