body {
  margin: 0px;
  background: center/100% url("../public/img//fondo.jpg") no-repeat fixed;
  background-repeat: repeat-y;
}
/* escudo */
.log{
  width: 100%;
}
.escudo {
     border: 2px solid black;
  margin-top: 10px;
  box-shadow: -2px 2px 18px 5px rgba(250,247,250,0.73);
}
/* iconos redes */
svg:hover
{
  color: #50c2ec;
}
/* letras logo  */
.racing, .voley{
  font-family: 'Graduate', cursive;
  font-weight: bolder;

}

/* efectomenu */
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'Electrolize', sans-serif;
}
.menu{
  margin-left: 70px ;
}
.menu li {
  margin-right: 70px;
}
  
.menu a {
  position: relative;
  display: block;
  
}
  
.menu a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #26B3E8, #ffffff, #26B3E8);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}
  
.menu a:hover::before {
  transform: scaleX(1);
}

  
/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.menu[data-animation="center"] a::before {
  transform-origin: center;
}

/* tarjetas de camiseta */
  
.card-body {
  background-color: rgba(6, 175, 175, 0.856);
  border: none;
  font-family: 'Electrolize', sans-serif;

}
.camiseta {
  
  background-color: rgba(6, 175, 175, 0.856);
}
.camiseta:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 0 30px rgb(255, 255, 255);

  border-radius: 20px;
  transition-duration: 1s;
}
/* descripcion */
.btn{
background-color: rgba(6, 175, 175, 0.96);
color: rgb(255, 255, 255);
font-family: 'Electrolize', sans-serif;
}
.bg{
background-color: rgba(0, 0, 0, 0.837);
}
.info{
font-family: 'Electrolize', sans-serif;
}
.titulo{
  font-size: 30px;
}

.indumentaria {
  font-size: 30px;
  font-family: 'Graduate', cursive;
  color: white;
}

/* propiedad para hacer transparente una card */
.prueba {
  background-color: rgba(0, 0, 0, 0);
}
.card{
 border-style: none;
}
/* RESPONSIVE */ 

@media only screen and (max-width: 1270px)and (min-width: 990px){
 .mostrar{
   display: none;
 }
}
@media only screen and (max-width: 520px){
 .mostrar{
   display: none;
 }  
}
@media only screen and (min-width: 990px) {.ancho {min-width: 300px;}
.escudo {
 width: 120px;
}
.racing{
 font-size: 40px; 
}
.voley{
 font-size: 25px;
}
.orden{
 order:-1;
}

}

@media only screen and (max-width: 990px){
.escudo {
 width: 90px;
}
.racing{
 font-size: 30px;
}
.voley{
 font-size: 15px;
}

.ord{
 order: -1;
}
.racing{
 width: 200px;
}
.voley{
 width: 200px;
}
.ancho{
 width: 200px;
}
.nav-link{
 width: 130px;
}
.menu{
 margin-left: 10px ;
}

}