/* import */
@import "menu";
@import "variables/variables";
$alto:500px;

body {
    margin: 0px;
    background: center/100% url("../public/img//fondo.jpg") no-repeat fixed; 
    background-repeat: repeat-y;    
}
.fila{
max-width: 100%;
}
  .racing, .voley{
        font-family: $letra-titulo;
        font-weight: bolder;
      
  }
  
  ul {
        list-style: none;
        a {
          color: inherit;
          text-decoration: none;
          font-family: $letra-texto;
        }
  }
 
  .prueba {
        background-color: rgba(0, 0, 0, 0);
        &_logo{
          width: 100%;
        }
    svg:hover
      {
        color: #50c2ec;
      }
  }
  .escudo {
    border: 2px solid black;
 margin-top: 10px;
 box-shadow: -2px 2px 18px 5px rgba(250,247,250,0.73);
}
/* operaciones */
.resultado {
  width: ($alto/2)+100;
  height: $alto+15;  
  .res {
    height: $alto;
  } 
}
.resultados{
  font-family: $letra-titulo;
  font-weight: bolder;
  color: $color-texto;
}
/* mixins */
.profesores{
  background-color: rgba(0, 0, 0, 0.829);
  .tit{
    @include texto (40px);
    font-family: $letra-titulo;
    font-weight: bolder;    
    color: $color-texto;
  }
  .tarjeta{
    background-color: rgba(6, 175, 175, 0.856);
    color: $color-texto;
    font-family: $letra-texto;
  }
}
.desc{
  background-color: rgba(0, 0, 0, 0.904);
  color: $color-texto;
  font-family: $color-texto;
  font-weight: bold;
  .celeste{
    @include texto(17px);
    color:#50c2ec;
  }


}


@media only screen and (max-width: 1333px)and (min-width: 990px){
  .mostrar{
    display: none;
  }
  .menu{
    margin-left: 0px 
  }
 }
 @media only screen and (max-width: 520px){
  .mostrar{
    display: none;
  }  
 }
 @media only screen and (min-width: 990px) {.ancho {min-width: 300px;}
 .escudo {
  width: 120px;
 }
 .racing{  
  font-size: 40px; 
 }
 .voley{
  font-size: 25px;
 }
 .orden{
  order:-1;
 }
 
 }
 
 @media only screen and (max-width: 990px){
 .escudo {
  width: 90px;
 }
 .racing{
  font-size: 30px;
 }
 .voley{
  font-size: 15px;
 }
 
 .ord{
  order: -1;
 }
 .racing{
  width: 200px;
 }
 .voley{
  width: 200px;
 }
 .ancho{
  width: 200px;
 }
 .nav-link{
  width: 130px;
 }
 .menu{
  margin-left: 10px ;
 }
 .col-4 {
   width: 100%;
   margin: 5px;
   padding: 0px;
 }
 .col-6{
   width: 80%;
   margin: 5px;
   padding: 0px;
 }
 }
