@import "variables/variables";

/* descripcion mapa */
.map {
  @include texto(20px);
  background-color: rgba(0, 0, 0, 0.829);
  font-family: $letra-texto;
  font-weight: bolder;
  color: $color-texto;
  .swing-in-top-fwd {
    animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }

  @keyframes swing-in-top-fwd {
    0% {
      transform: rotateX(-100deg);
      transform-origin: top;
      opacity: 0;
    }
    100% {
      transform: rotateX(0deg);
      transform-origin: top;
      opacity: 1;
    }
  }
}
.texto {
  background-color: rgba(6, 175, 175, 0.856);
}
/* formulario */
.contacto {
  background-color: rgba(0, 0, 0, 0.829);
  font-family: $letra-texto;
  font-weight: bolder;
  color: $color-texto;
  .btn {
    background-color: rgba(6, 175, 175, 0.96);
    color: $color-texto;
    font-family: $letra-texto;
  }
}
/* titulos */
.card-title-contacto {
  @include texto(30px);
  font-family: $letra-titulo;
}
